.footer {
    background-color: var(--color-bg);
    padding: 30px;
    text-align: center;

    @media screen and (min-width: $breakpoint-md) {
        .services-page & {
            padding: 23px;
        }
    }
    @media screen and (min-width: $breakpoint-xlg) {
        .services-page & {
            padding: 27px;
        }
    }

    a {
        text-decoration: none;
    }

    &__address-wrapper {
        @media screen and (min-width: $breakpoint-sm) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-basis: 100%;
            margin-bottom: 20px;

            *::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                margin: 0 10px;
                background-color: var(--color-text);
            }
            *:last-child::after{
                content: '';
                display: none;
            }

            .services-page & {
                justify-content: center;
            }
            .index-page & {
                padding-left: 31px;
            }
        }
        @media screen and (min-width: $breakpoint-md) {
            .services-page & {
                margin-left: -27px;
            }
        }
        @media screen and (min-width: $breakpoint-xlg) {
            .services-page & {
                margin-left: -87px;
            }
        }
    }
    &__wrapper {
        @media screen and (min-width: $breakpoint-sm) {
            display: flex;
            justify-content: space-between;
            border-top: 2px solid #E6E6F0; 

            .services-page & {
                flex-direction: column;
                align-items: center;
            }
        }
        @media screen and (min-width: $breakpoint-md) {
            .services-page & {
                flex-direction: row;
                align-items: space-between;
                margin: 0 36px;
            }
        }
        @media screen and (min-width: $breakpoint-lg) {
            .services-page & {
                margin-top: 5px;
            }
        }
    }
    &__contacts {
        padding-top: 30px;
        border-top: 2px solid #E6E6F0; 

        &-wrapper {
            @media screen and (min-width: $breakpoint-sm) {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-basis: 100%;

                *::after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    margin: 0 10px;
                    background-color: var(--color-text);
                }
                *:last-child::after{
                    content: '';
                    display: none;
                }

                .services-page & {
                    justify-content: center;
                }
                .index-page & {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
            @media screen and (min-width: $breakpoint-md) {
                .services-page & {
                    justify-content: flex-start;
                }
            }
            @media screen and (min-width: $breakpoint-lg) {
                .services-page & {
                    margin-top: -3px;
                }
            }
            @media screen and (min-width: $breakpoint-xlg) {
                .services-page & {
                    padding-left: 23px;
                }
            }
        }
        &-address {
            color: #323264;

            .services-page & {
                @media screen and (min-width: $breakpoint-md) {
                    margin-left: -111px;
                }
                @media screen and (min-width: $breakpoint-lg) {
                    margin-left: -304px;
                }
            }
        }
        &-map {
            display: block;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            color: var(--color-link-regular);
            margin-top: 8px;
            letter-spacing: 1px;

            &:hover {
                color: var(--color-accent);
            }

            @media screen and (min-width: $breakpoint-sm) {
                margin-top: 0;
            }
        }
        &-copyright {
            color: var(--color-text);
            text-transform: uppercase;
            margin-top: 29px;
            font-size: 15px;

            @media screen and (min-width: $breakpoint-sm) {
                flex-basis: 50%;
                text-align: right;

                .index-page & {
                    margin-top: 35px;
                    font-size: 17px;
                }
            }
            @media screen and (min-width: $breakpoint-md) {
                .services-page & {
                    margin-top: -31px;
                }
            }
            @media screen and (min-width: $breakpoint-xlg) {
                .services-page & {
                    margin-right: 25px;
                }
            }
        }
        &-fb {
            display: block;
            margin: 0 auto;
            margin-top: 18px;

            @media screen and (min-width: $breakpoint-sm) {
                display: flex;
                align-items: center;
                margin: 0;
            }

            &:hover path {
                fill: var(--color-accent);
            }

            svg {
                width: 38px;
                height: 38px;
            }
            path {
                fill: var(--color-link-regular);
            }
        }
        &-phone {
            display: block;
            font-weight: 700;
            color: var(--color-alt);
            margin-top: 5px;

            @media screen and (min-width: $breakpoint-sm) {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-top: 0;
            }
        }
        &-mail {
            display: block;
            font-weight: 700;
            margin-top: 8px;
            color: var(--color-link-regular);

            &:hover {
                color: var(--color-accent);
            }

            @media screen and (min-width: $breakpoint-sm) {
                margin-top: 0;
            }
        }

        @media screen and (min-width: $breakpoint-sm) {
            border-top: none; 
            display: flex;
            flex-wrap: wrap;
            flex-basis: 50%;
            align-items: center;
            justify-content: space-between;
        }
    }
}