.testimonials {
    margin-bottom: -6px;

    @media screen and (min-width: $breakpoint-xlg) {
        margin-bottom: 60px;
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--color-main);
        margin-bottom: 27px;
        letter-spacing: 1px;

        @media screen and (min-width: $breakpoint-lg) {
            .index-page & {
                margin-bottom: 22px;
            }
        }

    }
    &__list {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &-item {
            padding: 40px 0;
            align-items: center;
            justify-content: center;

            &.sm {
                padding: 23px 0;

                .index-page & {
                    @media screen and (min-width: $breakpoint-sm) {
                        padding: 15px 0;
                    }
                    @media screen and (min-width: $breakpoint-md) {
                        padding: 5px 0;
                    }
                }
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(6) {
                padding: 38px 0;
            }
            &:nth-child(5) {
                padding: 39px 0;
            }

            @media screen and (min-width: $breakpoint-sm) {
                flex-basis: 33%;
            }
            @media screen and (min-width: $breakpoint-md) {
                flex-basis: 25%;
            }
        }

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1720px) {
            border-radius: var(--radius-md);
        }
    }
}