.testimonials {
    margin-bottom: -6px;

    @media screen and (min-width: $breakpoint-xlg) {
        margin-bottom: 60px;
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--color-main);
        margin-bottom: 27px;
        letter-spacing: 1px;

        @media screen and (min-width: $breakpoint-lg) {
            .index-page & {
                margin-bottom: 22px;
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &-item {
            align-items: center;
            justify-content: center;
            min-height: 120px;
            overflow: hidden;

            @media screen and (min-width: $breakpoint-sm) {
                flex-basis: 33%;
            }
            @media screen and (min-width: $breakpoint-md) {
                flex-basis: 25%;
            }
        }

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1720px) {
            border-radius: var(--radius-md);
        }
    }
    &__link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}