body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: var(--color-main);
}

img {
	max-width: 100%;
}

.wrapper {
	min-height: 100vh;
	min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1720px;
	margin: 0 auto;
	position: relative;
}

.crumb {
	@include crumb-header;
}

.section-title {
	@include h2-text;
    @include text-grad;
}

.flex {
	display: flex;
}
.xsm-show {
	display: none;
	@media screen and (min-width: 50px) {
		display: block;	
	}
}
.xsm-hide {
	display: block;
	@media screen and (min-width: 50px) {
		display: none;	
	}
}
.sm-show {
	display: none;
	@media screen and (min-width: 300px) {
		display: block;	
	}
}
.sm-hide {
	display: block;
	@media screen and (min-width: 300px) {
		display: none;	
	}
}
.md-show {
	display: none;
	@media screen and (min-width: $breakpoint-sm) {
		display: block;	
	}
}
.md-hide {
	display: block;
	@media screen and (min-width: $breakpoint-sm) {
		display: none;	
	}
}
.md-show-flex {
	display: none;
	@media screen and (min-width: $breakpoint-sm) {
		display: flex;	
	}
}
.lg-show {
	display: none;
	@media screen and (min-width: $breakpoint-md) {
		display: block;	
	}
}
.lg-hide {
	display: block;
	@media screen and (min-width: $breakpoint-md) {
		display: none;	
	}
}
.xlg-show {
	display: none;
	@media screen and (min-width: $breakpoint-xlg) {
		display: block;	
	}
}
.xlg-hide {
	display: block;
	@media screen and (min-width: $breakpoint-xlg) {
		display: none;	
	}
}

.bg-orange {
	background-color:  #F48B30;
}
.bg-blue {
	background-color: #1C4280;
}
.bg-dgreen {
	background-color: #143646;
}
.bg-violet {
	background-color: #9E4DC3;
}
.bg-gray {
	background-color: #E2E2E4;
}
.bg-red {
	background-color: #C71C36;
}
.bg-olive {
	background-color: #DCF3F9;
}
.bg-milk {
	background-color: #EAEAEA;
}
.bg-dblue {
	background-color: #282240;
}
.bg-pblue {
	background-color: #1D4568;
}
.bg-black {
	background-color: #000;
}

.crumb-title {
	
}


